@using FrontEnd.ViewModels
@using Microsoft.AspNetCore.Identity
@using Common.Data
@using FrontEnd.Services
@inject IRoleService RoleService
@inject NavigationManager NavigationManager

<div class="d-flex flex-column border border-dark rounded" style="background-color: #d1d1d1">
    <div class="d-flex flex-row justify-content-between">
        <div class="p-0 m-0">
            <NavLink id="CourseName" class="nav-link m-1 p-1 text-break" href="@GetCourseLink(ViewModel.Course)">
                @ViewModel.Course.Name (@(ViewModel.Course.IsFall ? "Fall" : "Spring") @ViewModel.Course.Year)
            </NavLink>
        </div>
        <div class="d-flex flex-row align-content-center">
            @if (User != null && RoleService.RequestIsUserInRole(User, $"Lecturer-{ViewModel.Course.CourseCode}")) {
                <NavLink href="@GetCourseSettingsLink(ViewModel.Course)">
                    <img class="align-items-center m-1" src="assets/icons/EditCourseIcon.png" style="height:24px"/>
                </NavLink> 
            }
            <p class="p-0 m-0 m-1 d-flex align-content-center flex-wrap">@ViewModel.Course.CourseCode</p>
            @if (User.Id != ViewModel.Course.Creator.Id) {
                <MatButton Id="LeaveCourseButton" Class="border rounded" Label="Leave Course" OnClick="@(e => { LeaveCourseDialogOpen = true; })" Style="background-color: #bababa"></MatButton>            }
        </div>
    </div>
    <div class="p-0 m-0 border">
        <p id="CourseSubTitle" class="p-0 m-0 mx-1 font-italic text-break" style="font-size: 13pt">@GetSubTitleToDisplay()</p> @*TODO: Make some nice dots afterwards and dont split in the middle of a word*@
    </div>
    <div class="d-flex flex-row border p-0 m-0">
        <div class="p-0 m-0 mx-1">
            <p class="p-0 m-0">Tags:</p>
        </div>
        @foreach (var tag in ViewModel.Course.Tags) {
            <div class="p-0 m-0 mx-1">
                <p id="Tags">@tag.TagName</p>
            </div>
        }

    </div>
</div>

<MatDialog @bind-IsOpen="@LeaveCourseDialogOpen">
    <MatDialogTitle>Are you sure you want to leave the course?</MatDialogTitle>
    <MatDialogContent>
        <p>You are about to leave the course <b>@ViewModel.Course.Name (@(ViewModel.Course.IsFall ? "Fall" : "Spring") @ViewModel.Course.Year)</b> do you wish to continue?</p>
    </MatDialogContent>
    <MatDialogActions Class="d-flex flex-row justify-content-around">
        <MatButton Id="CancelLeaveCourseButton" OnClick="@(e => { LeaveCourseDialogOpen = false; })">No</MatButton>
        <MatButton Id="YesLeaveCourseButton" OnClick="@(e => { UnEnroll(); })">Yes</MatButton>
    </MatDialogActions>
</MatDialog>


@code {

    [Parameter]
    public TinyCourseViewModel ViewModel { get; set; }

    [Parameter]
    public IdentityUser User { get; set; }

    [Parameter]
    public EventCallback OnUpdate { get; set; }

    public bool LeaveCourseDialogOpen { get; set; }

    private string GetCourseLink(TinyCourse course) => $"Course/{course.CourseCode}";

    private string GetCourseSettingsLink(TinyCourse course) => $"CourseSettings/{course.CourseCode}";

    private string GetSubTitleToDisplay() {
        int maxlength = 200;
        if (ViewModel.Course.SubTitle.Length > maxlength) {
            return ViewModel.Course.SubTitle.Substring(0, maxlength) + "...";
        }
        else {
            return ViewModel.Course.SubTitle;
        }
    }

    public bool UnEnroll() {
        bool res = ViewModel.RemoveUserFromCourse(User);
        if (res) {
            LeaveCourseDialogOpen = false;
            OnUpdate.InvokeAsync();
            NavigationManager.NavigateTo("api/RefreshSignIn/", true);
            return true;
        }

    //TODO do something if fails
        return false;
    }

}