@using Common.Data
@using Markdig

@* <p>@Question.Location</p> *@
<MatTooltip Id="QuestionPopup" Class="text-break" Tooltip="@(UserQuestion.Title + "\n" + Markdown.ToPlainText(UserQuestion.Content))" Wrap="true" Position="@MatTooltipPosition.Left">
    <div class="pb-3">
        <span id="LocationText">@UserQuestion.Location</span>
    </div>
</MatTooltip>


@code {

    [Parameter]
    public PhysicalQuestion UserQuestion { get; set; }


}