﻿@using Microsoft.AspNetCore.Identity
@using FrontEnd.Services
@using Common.Data
@using Common.Protos.Utility
@using Markdig
@inject IQuestionService QuestionService

<MatDialog id="dialog" @bind-IsOpen="@IsDialogOpen" style="background-color: #c4c4c4cc">
    <MatDialogTitle Style="text-align: center">
        @if (Question.OwningSession is not null) {
            <div>Asking question for the session @Question.OwningSession.Name</div>
        }
    </MatDialogTitle>
    <MatDialogContent>
        <div class="d-flex flex-column p-2" style="background-color: #bebebe;">

            <div class="d-flex flex-row" style="width: 100%">
                <div class="align-self-end align-self-center text-break text-right pr-2" style="width: 20%;">
                    Question:
                </div>
                <div style="width: 80%">
                    <MatTextField id="titleTextField" Label="Title of the question" Style="width: 100%" Required="true" @bind-Value="@Question.Title"></MatTextField>
                </div>
            </div>

            <div class="d-flex flex-row" style="width: 100%">
                <div class="align-self-end align-self-center text-break text-right pr-2" style="width: 20%">
                    Description:
                </div>
                <div style="width: 80%; min-height: 10em">
                    <MatTabGroup>
                        <MatTab Label="Content">
                            <MatTextField id="contentTextField" Label="Describe the question" TextArea="true" Style="height: 10em; width: 100%; resize: vertical" @bind-Value="@Question.Content"></MatTextField>
                        </MatTab>
                        <MatTab Label="Preview">
                            <div style="background-color: white">
                                @((MarkupString) Markdown.ToHtml(Question.Content))
                            </div>
                        </MatTab>
                    </MatTabGroup>
                    <small id="markdownSupport" class="form-text text-muted">Markdown is supported. <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheat-Sheet </a></small>
                </div>

            </div>

            <div class="d-flex flex-row" style="width: 100%">
                <div class="align-self-end align-self-center text-break text-right pr-2" style="width: 20%">
                    Location:
                </div>
                <div style="width: 45%">
                    <MatTextField id="locationTextField" Label="Only insert if physical help is required" Style="width: 100%" @bind-Value="@Location"></MatTextField>
                </div>
                <div class="d-flex justify-content-end align-self-center" style="width: 35%">
                    <MatButton Id="cancelButton" Style="background: #F17C7C; color: #000000" Raised="true" OnClick="@CloseAndClearDialog">Cancel</MatButton>
                    <MatButton Id="submitButton" Style="background: #93ef73; color: #000000" Raised="true" OnClick="@SubmitQuestion">Submit</MatButton>
                </div>

            </div>


        </div>
    </MatDialogContent>
</MatDialog>
<style>
        .mdc-dialog .mdc-dialog__surface {
            width: 100%;
            max-width: none;
        }
        .mdc-dialog__container{
            width: 40%;
            min-width: 730px;
        }
</style>

@code {
    public bool IsDialogOpen = false;
    public Question Question = new();
    public string Location;

    public void AskQuestionButton(IdentityUser user, Session session) {
        IsDialogOpen = true;
        Question.Poster = user;
        Question.OwningSession = session;
        StateHasChanged();
    }

    private void SubmitQuestion() {
        if (string.IsNullOrEmpty(Question.Title)) return;
        RequestResult result;
        if (string.IsNullOrWhiteSpace(Location)) {
            result = QuestionService.RequestCreateQuestion(Question);
        }
        else {
            var q = new PhysicalQuestion(Question.Title, Location, Question.Poster, Question.Content, Question.OwningSession);
            result = QuestionService.PhysicalQuestionCreationRequest(q, Question.OwningSession.Id);
        }
        if (result.Succeeded)
            CloseAndClearDialog();
    }

    private void CloseAndClearDialog() {
        IsDialogOpen = false;
        Question = new Question();
        Location = string.Empty;
    }

}