﻿@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: #B8B8B8">
        <div class="container">
            <a class="navbar-brand" href="~/">Exercise Session Assistant</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <LoginDisplay></LoginDisplay>
            </div>
        </div>
    </nav>
</header>
<div class="content px-4">
    @Body
</div>