﻿@using FrontEnd.Services
@using FrontEnd.ViewModels
@using Microsoft.AspNetCore.Identity
@using Common.Data
@using Common.Protos.Utility
@using Common.Utility
@using Markdig
@inject IQuestionService QuestionService


<MatDialog Id="CommentDialog" @bind-IsOpen="@DialogIsOpen" style="background-color: #c4c4c4cc">
    <MatDialogTitle>Write a comment for #@QuestionAnswer?.Id:</MatDialogTitle>
    <MatDialogContent>
        <div style="height: auto">
            @if (QuestionAnswer is not null) {
                <MatPaper Elevation="4" Rounded="true">
                    <div style="display: grid">
                        <h5 class="text-left" style="padding: 10px; @(QuestionAnswer.IsMarkedCorrect ? "background-color: #a3ff83" : "background-color: #a383ff")">
                            @QuestionAnswer.Poster
                            <div style="float: right; align-self: center">
                                @if (QuestionAnswer.IsMarkedCorrect) {
                                    <MatIcon Icon="@MatIconNames.Check_circle" Style="color: #1c771c; height: 1em"></MatIcon>                                }
                            </div>
                        </h5>
                    </div>
                    <p class="text-left" style="padding: 0 10px 10px">
                        @((MarkupString) Markdown.ToHtml(QuestionAnswer.Content))
                    </p>
                    <div id="statusbarAnswer" class="container" style="justify-content: space-between; background-color: #8f8f8f; border-radius: 0 0 3px 3px; max-width: 3000px;">
                        <div class="row">
                            <div id="idAnswer" class="col-sm-8" style="margin: 0; padding: 1px 0 0; float: left">
                                <p class="text-left" style="margin: 0; padding-left: 3px; font-size: xx-small;">
                                    #@QuestionAnswer.Id - by @QuestionAnswer.Poster
                                </p>
                            </div>
                            <div id="timestampAnswer" class="col-sm-4" style="margin: 0; padding: 1px 0 0; float: right">
                                <p class="text-right" style="margin: 0; padding-right: 3px; font-size: xx-small">
                                    @QuestionAnswer.PostDate
                                </p>
                            </div>
                        </div>
                    </div>
                </MatPaper>
            }
            <div style="display: block; margin: auto; padding: 5px 0; height: auto">
                <MatTabGroup Style="height: auto">
                    <MatTab Label="Content">
                        <div style="height: 100%">
                            <MatTextField @bind-Value="NewComment" Label="Write your comment here:" TextArea="true" FullWidth="true" Style="height: 10em; resize: vertical"></MatTextField>
                        </div >
                    </MatTab>
                    <MatTab Label="Preview">
                        <div style="background-color: white">
                            @((MarkupString) Markdown.ToHtml(NewComment))
                        </div>
                    </MatTab>
                </MatTabGroup>
                <small id="markdownSupport" class="form-text text-muted">Markdown is supported. <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheat-Sheet </a></small>
                <div style="float: right">
                    <MatButton Id="CommentCancelButton" OnClick="OnCommentCancelClick" Raised="true" Style="background: #F17C7C; color: #000000">Cancel</MatButton>
                    <MatButton Id="CommentSubmitButton" OnClick="OnCommentSubmitClick" Raised="true" Style="background: #93ef73; color: #000000">Submit Comment</MatButton>
                </div>
            </div></div>
    </MatDialogContent>
</MatDialog>

@code {

    [CascadingParameter]
    public IdentityUser User { get; set; }

    [Parameter]
    public Func<string, QuestionAnswer, Task> UpdateParent { get; set; }

    private bool DialogIsOpen { get; set; }

    private QuestionAnswer QuestionAnswer { get; set; }

    private string NewComment { get; set; } = "";


    public void OnReplyButtonClick(QuestionAnswer answer) {
        DialogIsOpen = true;
        QuestionAnswer = answer;
        StateHasChanged();
    }

    private async void OnCommentSubmitClick() {
        DialogIsOpen = false;
        await UpdateParent(NewComment, QuestionAnswer);
        NewComment = "";
        StateHasChanged();
    }
    private async void OnCommentCancelClick() {
        DialogIsOpen = false;
        NewComment = "";
        StateHasChanged();
    }

}