﻿@page "/Course/{CourseCode}/Q/{QuestionId:int}"
@layout CourseLayout
@using FrontEnd.Services
@using FrontEnd.Pages.CoursePages.Components
@using FrontEnd.Pages.Shared
@using FrontEnd.ViewModels
@using Common.Data
@using JetBrains.Annotations
@using Microsoft.AspNetCore.Identity
@using Common.Utility
@using FrontEnd.PubSub
@using System.ComponentModel
@using Markdig
@implements IDisposable
@inject IQuestionService QuestionService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider StateProvider
@inject IRoleService RoleService
@inject QuestionAnswerSubscription AnswerSubscription
@inject CommentSubscription CommentSubscription

<h3>#@QuestionId:</h3>

<div class="align-self-center" style="width: 95%; height: auto">
    <div style="padding: 0 0 15px">
        <MatPaper Elevation="7" Rounded="true">
            <h4 class="text-center" style="padding: 10px 10px; background-color: #a383ff">
                @_questionViewModel.GetTitle()
                @if (_questionViewModel.GetIsSolved()) {
                    <MatIcon Icon="@MatIconNames.Check_circle" Style="color: #1c771c; float: right; height: 1em"></MatIcon>                }
            </h4>
            <p class="text-justify " style="padding: 0 10px 10px">
                @((MarkupString) Markdown.ToHtml(_questionViewModel.GetContent()))
            </p>
            <div id="statusbarQuestion" class="container" style="justify-content: space-between; background-color: #8f8f8f; border-radius: 0 0 3px 3px; max-width: 3000px;">
                <div class="row">
                    <div id="tagsQuestion" class="col-sm-8" style="margin: 0; padding: 1px 0 0; float: left">
                        <p class="text-left" style="margin: 0; padding-left: 3px; font-size: xx-small">
                            By @_questionViewModel.GetPoster() @GetRelevantRoleAsString(_questionViewModel.GetPoster())
                        </p>
                    </div>
                    <div id="timestampQuestion" class="col-sm-4" style="margin: 0; padding: 1px 0 0; float: right">
                        <p class="text-right" style="margin: 0; padding-right: 3px; font-size: xx-small">
                            @_questionViewModel.GetPostDate()
                        </p>
                    </div>
                </div>
            </div>
        </MatPaper>
    </div>
    @if (_questionViewModel.Question is not null) {
        @foreach (QuestionAnswer answer in _questionViewModel.GetQuestionAnswers()) {
            @* All QuestionAnswers belonging to current Question *@
            var currentAnswer = answer; // Capture variable (for referring to correct QuestionAnswer on click of reply button)
            <div style="width: 99%; display: block; margin: auto; padding: 0 0 10px">
                <MatPaper Elevation="4" Rounded="true">
                    <div style="display: grid">
                        <h5 class="text-left" style=" align-self: center; padding: 10px 10px; @(answer.IsMarkedCorrect ? "background-color: #a3ff83" : "background-color: #a383ff")">
                            @answer.Poster @GetRelevantRoleAsString(answer.Poster)
                            <div style="float: right; align-self: center">
                                @if (answer.IsMarkedCorrect) {
                                    <MatIcon Icon="@MatIconNames.Check_circle" Style="color: #1c771c; height: 1em"></MatIcon>                                }
                                <MatIconButton OnClick="@(() => _createCommentDialog.OnReplyButtonClick(currentAnswer))" Icon="reply" Style="padding: 0; height: 1em"></MatIconButton>
                            </div>
                        </h5>
                    </div>
                    <p class="text-left" style="padding: 0 10px 10px">
                        @((MarkupString) Markdown.ToHtml(currentAnswer.Content))
                    </p>
                    <div id="statusbarAnswer" class="container" style="justify-content: space-between; background-color: #8f8f8f; border-radius: 0 0 3px 3px; max-width: 3000px;">
                        <div class="row">
                            <div id="idAnswer" class="col-sm-8" style="margin: 0; padding: 1px 0 0; float: left">
                                <p class="text-left" style="margin: 0; padding-left: 3px; font-size: xx-small;">
                                    #@currentAnswer.Id - by @currentAnswer.Poster @GetRelevantRoleAsString(currentAnswer.Poster)
                                </p>
                            </div>
                            <div id="timestampAnswer" class="col-sm-4" style="margin: 0; padding: 1px 0 0; float: right">
                                <p class="text-right" style="margin: 0; padding-right: 3px; font-size: xx-small">
                                    @currentAnswer.PostDate
                                </p>
                            </div>
                        </div>
                    </div>
                </MatPaper>
                @foreach (Comment comment in _questionViewModel.GetComments(currentAnswer)) {
                    @* All Comments belonging to current QuestionAnswer *@
                    <div id="CommentSection" class="container" style="max-width: 3000px;">
                        <div class="row justify-content-md-end" style="padding: 5px 0 0">
                            <MatPaper Elevation="2" Rounded="true" Style="width: 75%">
                                <p class="text-left text-break" style="padding: 4px; overflow: hidden">@((MarkupString) Markdown.ToHtml(comment.Content))</p>
                                <div id="statusbarAnswer" class="container" style="justify-content: space-between; background-color: #8f8f8f; border-radius: 0 0 3px 3px; max-width: 3000px;">
                                    <div class="row">
                                        <div id="idComment" class="col-sm-8" style="margin: 0; padding: 1px 0 0; float: left">
                                            <p class="text-left" style="margin: 0; padding-left: 3px; font-size: xx-small;">
                                                #@comment.Id - by @comment.Poster @GetRelevantRoleAsString(comment.Poster)
                                            </p>
                                        </div>
                                        <div id="timestampComment" class="col-sm-4" style="margin: 0; padding: 1px 0 0; float: right">
                                            <p class="text-right" style="margin: 0; padding-right: 3px; font-size: xx-small">
                                                @comment.PostDate
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </MatPaper>
                        </div>
                    </div>
                }
                <MatDivider Style="padding: 5px 0 0"></MatDivider>
            </div>
        }
    }

    <div style="width: 99%; display: block; margin: auto; padding: 5px 0; height: fit-content">
        <MatTabGroup>
            <MatTab Label="Content">
                <div style="height: 100%">
                    <MatTextField @bind-Value="NewAnswer" Label="Write your answer here:" TextArea="true" FullWidth="true" Style="height: 10em; resize: vertical"></MatTextField>
                </div>
            </MatTab>
            <MatTab Label="Preview">
                <div style="background-color: white">
                    @((MarkupString) Markdown.ToHtml(NewAnswer))
                </div>
            </MatTab>
        </MatTabGroup>
        <small id="markdownSupport" class="form-text text-muted">Markdown is supported. <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Cheat-Sheet </a></small>
        <MatButton Id="AnswerSubmitButton" OnClick="OnAnswerSubmitClick" Raised="true" Style="float: right; background: #93ef73; color: #000000">Submit Answer</MatButton>
    </div>
</div>

<CreateCommentDialog @ref="@_createCommentDialog" UpdateParent="@OnCommentSubmitClick"></CreateCommentDialog>


@code {

    [Parameter]
    public string CourseCode { get; set; }

    [Parameter]
    public int QuestionId { get; set; }

    [CascadingParameter]
    public IdentityUser User { get; set; }

    [CascadingParameter]
    public SessionComponent SessionComponent { get; set; }

    private QuestionViewModel _questionViewModel;

    private string NewAnswer { get; set; } = "";

    // ReSharper disable once FieldCanBeMadeReadOnly.Local
    private CreateCommentDialog _createCommentDialog = null;

    protected override Task OnParametersSetAsync() {
        _questionViewModel = new QuestionViewModel(QuestionId, AnswerSubscription, CommentSubscription);

        _questionViewModel.PropertyChanged += async (sender, e) => await InvokeAsync(StateHasChanged);
        SessionComponent.OnUpdatedSession += StateHasChanged;
        return base.OnParametersSetAsync();
    }

    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e) {
        await InvokeAsync(StateHasChanged);
    }

    private async void OnAnswerSubmitClick() {
        if (NewAnswer.Trim().Equals("")) {
            return;
        }

        var questionAnswer = new QuestionAnswer(User, NewAnswer) {
            Question = _questionViewModel.Question,
            IsMarkedCorrect = false
        };

        var result = await Task.Run(() => QuestionService.RequestCreateQuestionAnswer(questionAnswer));

        if (RequestConversions.CheckForSuccess(result.Result)
            && !_questionViewModel.Question.QuestionAnswers.Exists(qa => qa.Id == result.Id)) {
            questionAnswer.Id = result.Id;
            _questionViewModel.Question.QuestionAnswers.Add(questionAnswer);
            NewAnswer = "";
        }

        StateHasChanged();
    }

    private async Task OnCommentSubmitClick(string userComment, QuestionAnswer questionAnswer) {
        if (userComment.Trim().Equals("")) {
            return;
        }

        var comment = new Comment(User, userComment) {
            QuestionAnswer = questionAnswer
        };

        var result = await Task.Run(() => QuestionService.RequestCreateComment(comment));

        if (RequestConversions.CheckForSuccess(result.Result)
            && !questionAnswer.Comments.Exists(c => c.Id == result.Id)) {
            comment.Id = result.Id;
            questionAnswer.Comments.Add(comment);
        }
        StateHasChanged();
    }

    private string GetRelevantRoleAsString([CanBeNull] IdentityUser commentPoster) {
        if (commentPoster is null) {
            return "";
        }
        var roles = RoleService.RequestRolesForUser(commentPoster)
            .FindAll(s => !s.Contains(CourseCode) && !s.Contains("Student") && !s.Contains("Staff")); //TODO: should Staff be excluded?
        if (roles.Count > 0) {
            roles.Sort();
            var s = roles.FirstOrDefault();
            return "(" + s?.Substring(0, s.IndexOf('-')) + ")";
        }
        return "(Student)";
    }

    public void Dispose() {
        SessionComponent.OnUpdatedSession -= StateHasChanged;
        _questionViewModel.Dispose();
    }

}