﻿@using Common.Data
@using FrontEnd.Services
@using FrontEnd.ViewModels
@using Microsoft.AspNetCore.Identity
@inject ISessionService SessionService

<MatDialog @bind-IsOpen="@DialogIsOpen" style="background-color: #c4c4c4cc">

    <div style="background-color: #F3F3F3; padding: 20px 10px;">
        <MatDialogTitle>Create Session</MatDialogTitle>
        <MatDialogContent Style="background-color: #c4c4c4; padding-top: 20px;">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized Context="auth">
                        <EditForm OnValidSubmit="@HandleValidSubmit" class="form-group" Model="_viewModel">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <ValidationSummary></ValidationSummary>
                            <div>
                                <MatTextField Required="true" class="input-field" @bind-Value="@_viewModel.Name" Label="Name"></MatTextField>

                            </div>
                            <div>
                                <MatDatePicker Required="true" Enable24hours="true" EnableTime="true" Label="Start Time" @bind-Value="@_viewModel.StartDate"></MatDatePicker>


                            </div>
                            <div>
                                <MatDatePicker Required="true" Enable24hours="true" EnableTime="true" Label="End Time" @bind-Value="@_viewModel.EndDate"></MatDatePicker>

                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary" style="background-color: #ACEA5E; border: none">Create</button>
                                <button type="button" class="btn btn-primary" @onclick="@(Hide)" style="background-color: #F17C7C; border: none">Cancel</button>
                            </div>
                        </EditForm>
                    </Authorized>

                    <NotAuthorized>
                        You need to be logged in to see this page.
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </MatDialogContent>
    </div>
</MatDialog>

@code {

    CreateSessionViewModel _viewModel = new();
    public bool DialogIsOpen = false;

    [Parameter]
    public string CourseCode { get; set; }

    [Parameter]
    public Action OnCreated { get; set; }

    private void HandleValidSubmit() {
        DialogIsOpen = false;
        Session session = new Session(_viewModel.Name, _viewModel.StartDate, _viewModel.EndDate);
        SessionService.RequestCreateSession(session, CourseCode);
        Hide();
        OnCreated.Invoke();
        _viewModel.Reset();
    //string courseCode = CourseService.CreateCourse(ViewModel.Course);
    // NavigationManager.NavigateTo("course/" + courseCode);
    }


    public void Show() {
        DialogIsOpen = true;
        StateHasChanged();
    }

    public void Hide() {
        DialogIsOpen = false;
        StateHasChanged();
    }

}