﻿@using Common.Data
@using FrontEnd.ViewModels
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel
@using Common.PubSub.Data
@using FrontEnd.PubSub
@using FrontEnd.Services
@implements IDisposable

<div class="d-flex flex-column" style="width: 20%; min-width: 75px">
    <div class="d-flex flex-column align-items-center" style="min-width: 75px">
        @*Ask Question Button*@
        <div>
            <MatButton Id="AskQuestionButton" Disabled="@ShouldButtonBeDisabled()" Class="p-2 border rounded" Label="Ask Question" Style="background-color: #bebebe" OnClick="@(() => QuestionDialog.AskQuestionButton(User, ViewModel.SelectedSession))"></MatButton>
        </div>
        @*Help queue*@
        <div class="d-flex flex-column border rounded justify-content-center" style="width: 100%; background-color: #bebebe">
            <h4 class="text-break text-center">Help Requested</h4>
            <div class="d-flex flex-column m-2 p-1 border rounded text-center" style="background-color: #ffffff">
                @if (CourseCode != null) {
                    @foreach (PhysicalQuestion item in PhysicalQuestionViewModel.Questions) {
                        <HelpQueueItem UserQuestion="@item"></HelpQueueItem>                    }
                }
            </div>
        </div>
    </div>
</div>

<QuestionDialog @ref="@QuestionDialog"></QuestionDialog>

@code {

    [CascadingParameter]
    public string CourseCode { get; set; }

    [CascadingParameter]
    public TinyCourseViewModel ViewModel { get; set; }

    [CascadingParameter]
    public SessionComponent SessionComponent { get; set; }

    public QuestionDialog QuestionDialog = null;

    [Parameter]
    public PhysicalQuestionViewModel PhysicalQuestionViewModel { get; set; }

    [CascadingParameter]
    public IdentityUser User { get; set; }

    public bool ButtonIsDisabled;

    protected bool ShouldButtonBeDisabled() {
        ButtonIsDisabled = ViewModel?.SelectedSession == null || ViewModel.SelectedSession.Name == SessionComponent.DefaultSession.Name;
        return ButtonIsDisabled;
    }

    protected override Task OnParametersSetAsync() {
        PhysicalQuestionViewModel.PropertyChanged += async (sender, e) => { await InvokeAsync(() => { StateHasChanged(); }); };
        SessionComponent.OnUpdatedSession += StateHasChanged;
        return base.OnParametersSetAsync();
    }


    async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e) {
        await InvokeAsync(() => { StateHasChanged(); });
    }

    public void Dispose() {
        SessionComponent.OnUpdatedSession -= StateHasChanged;
        PhysicalQuestionViewModel.PropertyChanged -= OnPropertyChangedHandler;
        PhysicalQuestionViewModel.Dispose();
    }

}