﻿<div class="d-flex flex-column border rounded" style="width: 100%">
    <div class="align-self-center">
        <div class="p-2">
            <h3>Search Menu</h3>
        </div>
    </div>
    <div class="align-self-center" style="width: 100%">
        <div class="p-2" style="width: 100%">
            <MatTextField Id="SearchBarField" @bind-Value="@SearchString" Label="Search" Style="width: 100%"></MatTextField>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="p-2">
            <div>
                <div class="p-2">
                    <MatCheckbox Id="ActiveLectureCheckbox" @bind-Value="@IsActive" Label="Active Lecture"></MatCheckbox>
                </div>
                <div class="p-2">
                    <MatCheckbox Id="OptionCheckbox" @bind-Value="@Option" Label="Option"></MatCheckbox>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div>
                <div class="p-2">
                    <MatTextField Id="TagsField" @bind-Value="@TagString" Label="Tags"></MatTextField>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    
    public string SearchString { get; set; }
    public string TagString { get; set; }
    public bool IsActive { get; set; }
    public bool Option { get; set; }

}